/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
/* End of Reset */
/* Start of Custom Styles */
.content{
	box-sizing: border-box;
	padding: 0 0.5em;
	min-width: 60.625em;
	width: 60%;
	margin: 0 auto;
}

body{
	background-color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.navigation-bar{
	background-color: white;
	position: fixed;
	width: 100%;
	box-shadow: 0 1px 0 0 #838994;
}

.navigation-bar .content{
	height: 4.375em;
}

.navigation-bar .logo{
	height: 4.375em;
}

.links > li{
	display: inline-block;
	margin-left: 1.5625em;
}

/*NAVIGATION STYLING*/
.navigation-bar .links a{
	transition: color 0.2s ease;
	color: #838994;
	text-decoration: none;
}
.navigation-bar .links a:visited{
	color: #838994;
	text-decoration: none;
}
.navigation-bar .links a:hover{
	color: #333333;
	text-decoration: none;
	cursor: pointer;
}
.navigation-bar .links a:active{
	color: #4c5058;
	text-decoration: none;
}

.navigation-bar .links{
	float: right;
	font-family: 'Roboto', sans-serif;
    color: #838994;
    font-size: 1em;
    margin-top: 1.5625em;
    font-weight: 300;
    letter-spacing: 0.03em;
    -webkit-font-smoothing: antialiased;
}

.navigation-bar .links .active{
	color: #4c5058;
	font-weight: 500;
}

/*INTRODUCTION IMAGE*/
.introduction{
	padding-top: 70px;
	background-image: url(img/first-background.jpg);
	background-size: cover;
	height: 37.5em;
	width: 100%;
}

.introduction h1{
	color: white;
	text-align: center;
	padding-top: 3.25em;
	font-size: 50px;
	font-weight: 300;
	letter-spacing: 0.05em;
}

.introduction h3{
	color: white;
	text-align: center;
	padding-top: 1em;
	font-size: 1.563em;
	letter-spacing: 0.06em;
}

.buttons{
	height: 57px;
	width: 380px;
	padding-top: 3em;
	margin: 0 auto;
}

.btnlearn{
	line-height: 1.33;
	float: left;
	font-size: 18px;
	margin-top: 20px;
}

.btnlearn a, .btnlearn a:hover{
	color: white;
	line-height: 1.33;
	font-size: 18px;
	text-decoration: none;
	padding: 16px 26px;
	border-radius: 4px;
	margin-left: 30px;
	width: 9.688em;
}

.btnlearn a{
	transition: background-color 0.5s ease;
	background-color: #f15a29;
}

.btnlearn a:hover{
	background-color: #b0421e;
}

.btnwatch{
	position: relative;
	color: white;
	line-height: 57px;
	float: right;
	font-size: 18px;
}

.btnwatch img{
	vertical-align: middle;
}

.bobbing-box{
	width: 50px;
	height: 50px;
	margin: 9em auto 1em;
	-webkit-animation: BOB 1s infinite;
	animation: BOB 1s infinite;

}

@-webkit-keyframes BOB{
	0%, 100%{transform: translate(0, 0);}
	50%{transform: translate(0, 2em);}
}

@keyframes BOB{
	0%, 100%{transform: translate(0, 0);}
	50%{transform: translate(0, 2em);}
}

/*THREE IMAGES IN ROW, LESSON 4 ASS 8*/
.cases .content{
	margin-top: 7.875rem;
}

.cases .devices{
	display: flex;
	text-align: center;
	padding-bottom: 10rem;
}

.cases h2{
	font-size: 2.75rem;
	margin: 1.625rem 0 3.125rem;
	text-align: center;
}

.cases .devices li{
	width: 33.333333%
}

.cases .devices h3{
	font-weight: 400;
	font-size: 1.563em;
	margin: 2.5rem 0 1.875rem;
}

.cases .devices p{
	font-size: 1.313em;
}

/*WHAT IS KARMA BANNER*/
.description{
	height: 45.938rem;
	background-image: url(img/buy-now-bg.jpg);
	background-size: cover;
	padding-top: 5.25rem;
}

.description .col{
	width: 15rem;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

.description h4{
	font-weight: 400;
	font-size: 1.563rem;
	color: #f15a29;
	margin: 2.5rem 0 1.875rem;
}

.description p{
	font-size: 1.15rem;
	line-height: 1.5;
	color: #4c5058;
	margin-bottom: 1.25rem;
}

.description .btnlearn a{
	margin-left: 0;
	padding: 15px 43px;
}


/*FOOTER*/
.social{
	background-color: white;
	text-align: center;
	padding-bottom: 9.375rem;
}

.social hr{
	border: 0;
	border-top: 1px solid #eaebec;
	margin: 1.313rem 0;
}

.social .icons li{
	border-radius: 1.25em;
	width: 2.5rem;
	height: 2.5rem;
	border: 1px solid #eaebec;
	display: inline-block;
	margin: 1.25rem 5px;
}

.social .copy{
	font-size: 0.9rem;
	color: #838994;
}